/* Heading spacings */

/* Title slide h1*/
.reveal h1 {
  margin-bottom: 1em;
}

/* Example slides */
.reveal h1 + h2 {
  margin-bottom: 0.1em;
}

/* Force yellow h1 and h2 on dark layout title */
.reveal.reveal .bg-dark h1,
.reveal.reveal .bg-dark h2 {
  color: var(--bs-yellow);
}

.bg-dark p {
  color: white;
}

iframe {
  background-color: white;
}

.reveal.reveal code {
  background-color: white;
  color: black;
}
